.hidden {
    display: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font: "Montserrat";


.container{
    max-width: 1274px;
    width:100%;
    margin: auto;
}

 

.size-mob-12 {
    width: 100%
}

.size-mob-11 {
    width: 91.66666667%
}

.size-mob-10 {
    width: 83.33333333%
}

.size-mob-9 {
    width: 75%
}

.size-mob-8 {
    width: 66.66666667%
}

.size-mob-7 {
    width: 58.33333333%
}

.size-mob-6 {
    width: 50%
}

.size-mob-5 {
    width: 41.66666667%
}

.size-mob-4 {
    width: 33.33333333%
}

.size-mob-3 {
    width: 25%
}

.size-mob-2 {
    width: 16.66666667%
}

.size-mob-1 {
    width: 8.33333333%
}






// For Desktop

@media screen and (min-width: 768px) {
    .size-12 {
        width: 100%;
    }
    
    .size-11 {
        width: 91.66666667%;
    }
    
    .size-10 {
        width: 83.33333333%;
    }
    
    .size-9 {
        width: 75%;
    }
    
    .size-8 {
        width: 66.66666667%;
    }
    
    .size-7 {
        width: 58.33333333%;
    }
    
    .size-6 {
        width: 50%;
    }
    
    .size-5 {
        width: 41.66666667%;
    }
    
    .size-4 {
        width: 33.33333333%;
    }
    
    .size-3 {
        width: 25%;
    }
    
    .size-2 {
        width: 16.66666667%;
    }
    
    .size-1 {
        width: 8.33333333%;
    }




    .container{
        padding: 0 15px;
    }
}




