.Product-page {
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        .image-product {
            width: 100%;
            border: 1px solid #EEEEEE;
            text-align: center;
            img {
                height: 180px;
                
            }
        }
        .info-product {
            width: 100%;
            margin-bottom: 6%;
            text-align: center;
            padding: 0 5%;
            .prod {
                height: 40%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2%;
                h1 {
                    font-family: $font;
                    color:#222222;
                    font-size: 40px;
                    font-weight: 400;
                    text-align: center;
                }
                .details-product {
                    .price {
                        font-family: $font;
                        color:#EF7460;
                        font-size: 37px;
                        font-weight: bold;
                        .pt-br {
                            margin-right: 4px;
                        }
                        span {
                            font-size: 22px;
                        }
                    }
                }
            }
            .details-inputs {
                display: flex;
                justify-content: center;
                .numbers {
                    display: flex;
                    width: 100px;
                    border-radius: 3px;
                    border: 1px solid #DDDDDD;
                    margin-right: 3%;
                    button {
                        width: 30px;
                        font-size: 2rem;
                        border: none;
                        color: #EF7460;
                        background: transparent;
                    }
                    input {
                        width: 70%;
                        display: flex;
                        padding-left: 8px;
                        background: transparent;
                        border: none;
                        text-shadow: none;
                        color: #000;
                        text-rendering: unset;
                        text-align: center;
                    }
                    .plus {
                        font-size: 1.7rem;
                    }
                }
                .btn-buy {
                    margin-left: 1%;
                    height: 50px;
                    width: 40%;
                    border: none;
                    border-radius: 3px;
                    background: #EF7460;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $font;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        .container{
            flex-direction: row;
            height: 600px;
            .image-product {
                width: 50%;
                height: 400px;
                margin-top: 2%;
                img {
                    height: 400px;
                }
            }
            .info-product {
                width: 50%;
                margin-bottom: 0;
                .prod {
                    align-items: initial;
                    margin-bottom: 0;
                    h1 {
                        text-align: initial;
                    }
                }
                .details-inputs{
                    justify-content: initial;
                    .numbers {
                        margin-right: 3%;
                    }
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}